$black-color: #003249;
$principal-color: #007EA7;
$middle-color: #80CED7;
$secondary-color: #9AD1D4;
$white-color: #CCDBDC;
$black-text: #282727;

.card {
  position: relative;
  width: 870px;
  height: 410px;
  background: #fff;
  border-radius: 20px;
  box-shadow: $black-text 0px 3px 8px;
  transition: 0.5s;
}
.card:hover {
  height: 450px;
}

.imgBx {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 270px;
  height: 200px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: 0.5s;
}
.card:hover .imgBx {
  width: 290px;
  height: 210px;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .card__content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.card .card__content .details {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}

.card .card__content .details h2 {
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(44, 43, 43);
  line-height: 1.2em;
}

.card .card__content .details h2 span {
  font-size: 0.75em;
  font-weight: 200;
  opacity: 0.5;
  color: #003249;
}

.card .card__content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card .card__content .details .data h3 {
  font-size: 1.75em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}

.card .card__content .details .data h3 span {
  font-size: 0.50em;
  font-weight: 400;
  opacity: 0.5;
}

.card .card__content .details .actionBtn {
  display: flex;
  justify-content: center;
  // gap: 20px;
}

.button__icon {
  border: 0;
  background: none;  
  margin: 10px;
}
.card .card__content .details .actionBtn .like__icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: 0.5s;
}

.card .card__content .details .actionBtn .like__icon:hover {
  transform: scale(1.1);
}