$black-color: #003249;
$principal-color: #007EA7;
$middle-color: #80CED7;
$secondary-color: #9AD1D4;
$white-color: #CCDBDC;
$black-text: #282727;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: 100vh;
  background-color: $middle-color;
}

.container h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: $black-text;
}

.container__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 2.5rem;
  width: 18rem;
  border-radius: 20px;
  background-color: #fff;
}

.search input {
  position: relative;
  width: 14rem;
  height: 2.5rem;
  border-radius: 20px;
  margin: 10px;
  border: #fff;
  font-size: 1.2em;
}

input:focus {
  box-shadow: none;
  border: 0 none;
  outline: none;
}

.search__button {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  background-color: #fff;
  border: #fff;
  cursor: pointer;
}