$black-color: #003249;
$principal-color: #007EA7;
$middle-color: #80CED7;
$secondary-color: #9AD1D4;
$white-color: #CCDBDC;

.navbar {
  background: $black-color;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px)/ 2);
  z-index: 10;
}

.navbar__links {
  color: $white-color;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;

  &:active{
    color: $middle-color
  }
}

.navbar__hambuger {
  display: none;
  color: $white-color;

  @media screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100px, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navbar__links {
  color: $white-color;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;

  &:active {
    color: $middle-color;
  }
}

#navbar__logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.navbar__image {
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  color: $white-color;
}