* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
$black-color: #003249;
$principal-color: #007EA7;
$middle-color: #80CED7;
$secondary-color: #9AD1D4;
$white-color: #CCDBDC;